/**
 * Testimonial SCSS
 */
.testimonial {
  width: 100%;
  background-color: $gray-400;
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  .wrapper {
    text-align: center;
    display: block;
    blockquote {
      max-width: 850px;
      margin: 1rem auto 2rem auto;
    }
    img {
      width: 180px;
      height: 180px;
      padding: 0.188rem;
      border-radius: 9.375rem;
      border: solid 0.063rem #f5f5f5;
      margin-bottom: 1.25rem;
    }
    .cite-author {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      font-family: $font-family-serif;
    }
  }
}