/**
 * Typography SCSS
 */
@font-face {
  font-family: very;
  src: url("//cdn2.hubspot.net/hubfs/3440604/Very_Possible_Nov2017/fonts/Very-Bold.woff") format('woff'),
  url("//cdn2.hubspot.net/hubfs/3440604/Very_Possible_Nov2017/fonts/Very-Bold.ttf") format('truetype'),
  url("//cdn2.hubspot.net/hubfs/3440604/Very_Possible_Nov2017/fonts/Very-Bold.eot");
  font-weight: 700;
  font-style: normal;
}